<!--<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content color="dark">
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <h1>Mis vehículos</h1>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <app-weekly-consume></app-weekly-consume>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center">
      <ion-col class="ion-text-center" size="12">
        <ion-list *ngIf="myVehicles.length > 0" class="border">
          <app-vehicle-card *ngFor="let vehicle of myVehicles" [vehicle]="vehicle"></app-vehicle-card>
        </ion-list>
        <h3 *ngIf="myVehicles.length === 0">No tienes vehículos</h3>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-button color="danger" [routerLink]="['/vehiculo/nuevo']">Añadir vehículo</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
