<ion-content color="dark">
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <h1>Clasificación</h1>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-label>Ver estadísticas sobre:</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-segment color="danger" value="marca" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="marca">
          <ion-label>Marca</ion-label>
        </ion-segment-button>
        <ion-segment-button value="consumo">
          <ion-label>Consumo</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-row>

    <ion-list *ngIf="segmentValue === 'consumo'">
      <ion-item *ngFor="let user of ranking let index = index">
        <ion-col size="3">
          <img width="45px" *ngIf="(index+1) === 1" src="../../assets/medals/oro.png" alt="Medalla posicion 1">
          <img width="45px" *ngIf="(index+1) === 2" src="../../assets/medals/plata.png" alt="Medalla posicion 2">
          <img width="45px" *ngIf="(index+1) === 3" src="../../assets/medals/bronce.png" alt="Medalla posicion 3">

          <ion-label style="font-size: 25px; padding-left: 15px;" *ngIf="(index+1) > 3">{{ index+1 }}</ion-label>
        </ion-col>

        <ion-col size="9">
          <ion-label>{{user.nombre}}</ion-label>
          <ion-label *ngIf="user.consumo > 7" color="danger">{{user.consumo}} l / 100km</ion-label>
          <ion-label *ngIf="user.consumo < 7" color="success">{{user.consumo}}l / 100km</ion-label>


        </ion-col>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="segmentValue === 'marca'">
      <ion-item *ngFor="let brand of rankingBrand; let index = index">
        <ion-col size="3">
          <img width="45px" *ngIf="(index+1) === 1" src="../../assets/medals/oro.png" alt="Medalla posicion 1">
          <img width="45px" *ngIf="(index+1) === 2" src="../../assets/medals/plata.png" alt="Medalla posicion 2">
          <img width="45px" *ngIf="(index+1) === 3" src="../../assets/medals/bronce.png" alt="Medalla posicion 3">

          <ion-label style="font-size: 25px; padding-left: 15px;" *ngIf="(index+1) > 3">{{ index+1 }}</ion-label>
        </ion-col>

        <ion-col size="9">
          <ion-label>{{brand.nombre}}</ion-label>
        </ion-col>
      </ion-item>
    </ion-list>
      <!--<ion-infinite-scroll (ionInfinite)="null">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>-->

  </ion-grid>
</ion-content>
